/* paginacion  1-2-3   */
.btn-paginacion .page-link {
    color: #198754;
    border-color: #dee2e6;
}

.btn-paginacion .page-link:hover {
    color: #146c43;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.btn-paginacion.active .page-link {
    background-color: #198754;
    border-color: #198754;
    color: white;
}

.btn-paginacion .page-link:focus {
    box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.25);
}

/* cards imagen */
.prducts-card-img {
    height: 300px;
    object-fit: contain;
    padding: 15px;
    width: 100%;
}

/* media query */
@media (min-width: 768px) {
    .prducts-card-img {
        height: 300px !important;
    }
}